* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Changa', sans-serif;
  }
  
  .footer {
    background-color: rgba(135, 68, 33, 1);
    color: #ffffff;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  
  .footer-section {
    flex: 1;
    padding: 10px;
    text-align: center;
  }
  
  .footer-logo {
    width: 80px;
    margin-bottom: 10px;
  }
  
  /* Opciones de grosor de la letra */
  .text-bold {
    font-weight: 400;
  }
  
  .text-light {
    font-weight: 300;
  }
  
  .center-input {
    padding: 10px;
    width: 60%; 
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    text-align: center; /* Centra el texto dentro del cuadro */
  }
  
  .newsletter button {
    padding: 10px 20px;
    border: none;
    background-color: #a55730;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .newsletter button:hover {
    background-color: #70371f;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons p {
    margin-bottom: 10px;
  }
  
  .social-images {
    display: flex;
    justify-content: center;
  }
  
  .social-images img {
    width: 25px; 
    height: 25px;
    margin: 0 10px;
  }
  
  /* Ajustes de la galería */
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    justify-items: center; /* Centra las imágenes dentro de la galería */
  }
  
  .gallery-item img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .footer-bottom {
    text-align: center;
    background-color: rgba(102, 40, 10, 1);
    padding: 10px;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
  }
  