@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inria Sans", sans-serif; /* Tipo de letra */
    font-size: 18px; /* Tamaño de letra general */
}

/* Estilos para la sección completa de la galería */
.gallery-COMPLETE {
    font-size: 4rem; /* Tamaño de la fuente para la sección completa */
    margin-bottom: 20px; /* Espacio debajo de la galería */
    text-align: center; /* Centramos el contenido */
    max-width: 1200px; /* Máximo ancho de la galería */
    font-weight: normal; /* Peso de la fuente normal */
    margin: auto; /* Centra la galería horizontalmente */
}

.gallery-COMPLETE h1 {
    font-size: 2rem; /* Tamaño del título de la galería */
    margin-top: 30px; /* Espacio en la parte superior del título */
    margin-bottom: 20px; /* Espacio debajo del título */
    text-align: center; /* Centramos el título */
}

/* Configuración de la galería con rejilla */
.gallery {
    display: grid; /* Utilizamos grid layout para organizar las imágenes */
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre las imágenes */
    width: 80%; /* Anchura de la galería */
    max-width: 1200px; /* Limitar la anchura máxima */
    align-items: center; /* Centramos verticalmente el contenido de la grid */
    margin: auto; /* Centramos la galería horizontalmente */
}

/* Estilos para las imágenes */
.gallery img {
    width: 100%; /* Todas las imágenes ocuparán el ancho completo de sus contenedores */
    height: 300px; /* Se asegura que todas las imágenes tengan la misma altura */
    object-fit: cover; /* Ajusta la imagen sin distorsionar su proporción */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera debajo de las imágenes */
    transition: transform 0.2s; /* Efecto suave al hacer hover */
}

/* Efecto de zoom al pasar el cursor sobre la imagen */
.gallery img:hover {
    transform: scale(1.05); /* Aumentamos ligeramente el tamaño de la imagen */
}

