@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inria Sans", sans-serif; /* Tipo de letra */
    font-size: 18px; /* Tamaño de letra general */
}

.header {
    background-color: white;
    border-top: 20px solid rgba(20, 75, 0, 1);
    border-bottom: 20px solid rgba(20, 75, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    padding: 0 10%;
}

.header .logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: none;
}

.header .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header .nav-links li {
    display: inline-block;
}

.header .nav-links a {
    font-weight: 700;
    color: #1b3039;
    text-decoration: none;
    padding: 5px 0;
    position: relative;
    transition: background-color 0.3s ease;
}

.header .nav-links a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: rgba(20, 75, 0, 1);
    transition: width 0.3s ease;
}

.header .nav-links a:hover::before {
    width: 100%;
}

.header .nav-links a:active {
    background-color: rgba(140, 172, 96, 1);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.header .nav-links a.active {
    background-color: rgba(140, 172, 96, 1);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.header .btn button {
    font-weight: 700;
    color: #ffffff;
    padding: 9px 25px;
    background: rgba(140, 172, 96, 1);
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #45a049;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}